{% extends 'base/base.html' %}

{% block title %} About {% endblock title %}

{% block content %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{{ url_for('static', filename='img/about.jpg') }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">Know what you have and whome to consult</h1>
                </div>
                <p>HealthView is an innovative healthcare platform designed to assist individuals in understanding and managing their health. By simply inputting the symptoms they are experiencing, users can receive an accurate disease prediction powered by advanced machine learning algorithms. Our goal is to provide accessible, real-time information that helps people take charge of their health and well-being.</p>
                <div class="row g-3 pt-3">
                    
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Symtomps<small class="d-block text-primary">Input</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Free<small class="d-block text-primary">Predication</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Verified<small class="d-block text-primary">Doctors</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
           
            <h4 style="color:#13C5DD;">A Gap in the Healthcare System we Aim to Fill</h4>
            <h5 style="color: black;">In the current healthcare landscape, people often face challenges like</h5>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Uncertainty about symptoms:</h4>
                    <p class="m-0"> Many individuals struggle to identify what their symptoms might mean, leading to delays in seeking appropriate care</p>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Overwhelming Information:</h4>
                    <p class="m-0">Searching online often provides contradictory or overwhelming results, causing confusion rather than clarity.</p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Difficulty Finding the Right Doctor:</h4>
                    <p class="m-0">Patients are unsure which specialist to consult, leading to wasted time and resources.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
           
            <h4 style="color:#13C5DD;">How HealthView Fills This Gap:</h4>
            <h5 style="color: black;">We go beyond just predicting diseases; we provide actionable details such as</h5>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Dietary recommendations & Precautions:</h4>
                    <p class="m-0"> Tailored advice on what to eat or avoid for better recovery.Steps to prevent the condition from worsening.</p>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Exercise plans & Medications: </h4>
                    <p class="m-0"> Suggested physical activities that complement recovery.General guidance on medications, with a disclaimer to consult a professional.</p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Impact: </h4>
                    <p class="m-0">This seamless flow from symptom recognition to treatment guidance bridges the gap between patient confusion and informed healthcare decision-making.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Team</h5>
           
        </div>
        <div class="owl-carousel team-carousel position-relative">
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{{ url_for('static', filename='img/sharuk_photo.jpg') }}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Sharuk</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">sharuk.21bce9523@vitapstudent.ac.in</h6>
                            <p class="m-0">
                                Role: 
                                Model 
                                Development 
                                & 
                                System 
                                Integration </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                           
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{{ url_for('static', filename='img/tejpavan_photo.jpg') }}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Tej Pavan</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">tejpavan.21bce9130@vitapstudent.ac.in</h6>
                            <p class="m-0">
                                Role: 
                                System 
                                Tasks: 
                                Design, 
                                Full-Stack 
                                Development 
                                & 
                                Deployment </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                           
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{{ url_for('static', filename='img/rakesh_phot.jpg') }}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Rakesh</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">rakesh.21bce9525@vitapstudent.ac.in</h6>
                            <p class="m-0">Role: 
                                Testing, 
                                Quality 
                                Assurance 
                                & 
                                Resource 
                                Management </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                           
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{{ url_for('static', filename='img/jaya_photo.jpg') }}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Jaya Kumar</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">jaya.21bce9571@vitapstudent.ac.in</h6>
                            <p class="m-0">Role: 
                                Testing, 
                                Quality 
                                Assurance 
                                & 
                                Resource 
                                Management </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
